

<web-app version="3.1">

 <display-name>Archetype Created Web Application</display-name>
 <servlet>
   <description>
        </description>
   <display-name>TakeTest1Servlet</display-name>
   <servlet-name>TakeTest1Servlet</servlet-name>
   <servlet-class>com.psicocare.controllers.TakeTest1Servlet</servlet-class>
 </servlet>
 <servlet>
   <description>
        </description>
   <display-name>MenuServlet</display-name>
   <servlet-name>MenuServlet</servlet-name>
   <servlet-class>com.psicocare.controllers.MenuServlet</servlet-class>
 </servlet>
 <servlet>
   <display-name>ResultadosServlet</display-name>
   <servlet-name>ResultadosServlet</servlet-name>
   <servlet-class>com.psicocare.controllers.ResultadosServlet
        </servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>TakeTest1Servlet</servlet-name>
   <url-pattern>/test</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>MenuServlet</servlet-name>
   <url-pattern>/menu</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>ResultadosServlet</servlet-name>
   <url-pattern>/resultados</url-pattern>
 </servlet-mapping>
 <servlet>
   <description>
     </description>
   <display-name>RegisterServlett</display-name>
   <servlet-name>RegisterServlett</servlet-name>
   <servlet-class>com.psicocare.controllers.RegisterServlett</servlet-class>
 </servlet>
 <servlet>
   <description>
     </description>
   <display-name>LoginServlett</display-name>
   <servlet-name>LoginServlett</servlet-name>
   <servlet-class>com.psicocare.controllers.LoginServlett</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>RegisterServlett</servlet-name>
   <url-pattern>/Register</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
   <servlet-name>LoginServlett</servlet-name>
   <url-pattern>/Login</url-pattern>
 </servlet-mapping>
 <servlet>
   <description></description>
   <display-name>ActivitiesServlet</display-name>
   <servlet-name>ActivitiesServlet</servlet-name>
   <servlet-class>com.psicocare.controllers.ActivitiesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>ActivitiesServlet</servlet-name>
   <url-pattern>/activities</url-pattern>
 </servlet-mapping>
 <servlet>
   <description></description>
   <display-name>HomeActivitiesServlet</display-name>
   <servlet-name>HomeActivitiesServlet</servlet-name>
   <servlet-class>com.psicocare.controllers.HomeActivitiesServlet</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>HomeActivitiesServlet</servlet-name>
   <url-pattern>/homeactivities</url-pattern>
 </servlet-mapping>
<servlet>
    <description></description>
    <display-name>ProgressServlet</display-name>
    <servlet-name>ProgressServlet</servlet-name>
    <servlet-class>com.psicocare.controllers.ProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProgressServlet</servlet-name>
    <url-pattern>/progress</url-pattern>
  </servlet-mapping>
</web-app>

